.Note {
  flex: 1;
  display: flex;
  height: calc(100vh - 70px);

  &__sidebar {
    flex: 0.25;
    border-right: 1px solid rgb(213, 211, 211);
  }

  &__listItem {
  }

  &__mainContainer {
    flex: 0.75;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
  }

  &__main {
    height: 92%;
    padding: 5px;
    overflow-y: scroll;
  }

  &__btnContainer {
    display: none;
  }

  &__showBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 8%;
  }

  &__btnSave {
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    color: green;
    margin-left: auto;
  }

  &__btnDelete {
    color: red;
    font-size: 25px;
    cursor: pointer;
  }
}
