.SidebarListItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1d3557;
}

.Active,
.SidebarListItem:hover {
  background-color: rgb(217, 217, 220);
}
